<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h4>This is a profile Page</h4>
    <p>Yes, you heard it right , you are now seeing profile apge</p>
</body>
</html>