<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Total document are : <%= count %> </h1>
   <form method="post" action="/createuser">
    <input type="text" placeholder="enter your username" name="username">
    <input type="email" placeholder="enter your email" name="email" >
    <input type="password"  placeholder="enter your password" name="password" >
    <input placeholder="enter your age" type="number" name="age" >
    <button type="submit">Submit</button>
   </form>

   
   <script>
    console.log()
   </script>
</body>
</html>